@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.has-error input {
	border-color: #e53e3e; /* Use the appropriate red color code */
}
